<div class="container">
  <h2 *ngIf="!isEditMode()">Add a new album</h2>
  <h2 *ngIf="isEditMode()">Edit the album</h2>
  <div class="form-wrapper">
    <form #addAlbumForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off"><br>
      <div class="form-row form-group">
        <div class="col-sm-4">
          <label for="artist" class="col-form-label">Artist</label>
        </div>
        <div class="col-sm-8">
          <input id="artist" name="artist" required placeholder="Artist" #artist="ngModel" class="form-control"
                 [(ngModel)]="model.artist" [value]="model.artist"/>
        </div>
      </div>
      <div class="form-row form-group">
        <div class="col-sm-4">
          <label for="title" class="col-form-label">Title</label>
        </div>
        <div class="col-sm-8">
          <input id="title" name="title" class="form-control" required
                 placeholder="Title" [disabled]="!artist.value" [value]="model.title"
                 [(ngModel)]="model.title" #title="ngModel"/>
        </div>
      </div>
      <div class="form-row form-group">
        <div class="col-sm-4">
          <label class="col-form-label">Year</label>
        </div>
        <div class="col-sm-8">
          <input id="year" name="year" placeholder="Year" #year="ngModel" class="form-control" [value]="model.year" [(ngModel)]="model.year" [disabled]="!artist.value"/>
        </div>
      </div>
      <button type="submit" [disabled]="!addAlbumForm.form.valid" class="btn btn-outline-light">Save</button>
      <button type="button" *ngIf="submitted" class="btn btn-dark float-right" [routerLink]="'/song/add'">Add a song
      </button>
      <div class="alert-container">
        <alert-selfclosing [message]="message" [isActive]="showConfirm"></alert-selfclosing>
      </div>
      <div class="file">
        <image-drop (onImageLoaded)="saveImageData($event)" [initial]="incomingAlbum?.image"></image-drop>
      </div>
    </form>
  </div>
</div>
